@import '../../styles/partials/variables/colors';
@import '../../styles/modules/mixins/css-gradient';

.home {
  padding: 5em 0;
}

.bkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vw;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../images/landing-bkg.jpg');

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include css-gradient(
      -89,
      rgba(darken($background-color, 5), .9) 0,
      rgba($background-color, 1) 70%
    );
  }
}

:global(.container) {
  padding: 1.5em 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
