$phone:         "(min-width: 481px)";
$tablet:        "(min-width: 768px)";
$desktop:       "(min-width: 1030px)";
$large-desktop: "(min-width: 1240px)";

$non-retina:    'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina:        '(min--moz-device-pixel-ratio: 1.5),
                 (-o-min-device-pixel-ratio: 3/2),
                 (-webkit-min-device-pixel-ratio: 1.5),
                 (min-device-pixel-ratio: 1.5),
                 (min-resolution: 144dpi),
                 (min-resolution: 1.5dppx)';
