$color-primary:            #b244fb;
$color-secondary:          #fdecbb;

$site-background-color:    #0a111a;

$background-color:         $site-background-color;
$background-color-primary: #973055;
$background-color-lighter:  mix($background-color, $color-secondary, 98);

$text-color:               #999;
$text-color-lighter:      lighten($text-color, 10);
$text-color-darken:        darken($text-color, 10);

$title-color:              $color-primary;
$title-color-lighter:     lighten($title-color, 10);
$title-color-darken:       mix($title-color, $background-color, 50);
$title-primary:            $color-primary;

$tap-highlight-color:      rgba(0, 0, 0, 0);
