@import '../../styles/partials/variables/base';

.roadmap {
  display: flex;
}

.wrapper {
  align-self: center;
  width: 60vw;
}

.section {
  display: flex;
  padding: 1em 0;

  &:nth-child(even) {
    flex-direction: row-reverse;

    .year {
      text-align: right;
      justify-content: flex-start;
    }

    .items {
      border-width: 0 2px 0 0;
      text-align: right;

      .item {
        justify-content: flex-start;
        flex-direction: row-reverse;
      }
    }
  }
}


.year {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0 1em;
  font-weight: normal;
  align-items: flex-start;

  h4 {
    font-size: 2em;
    font-style: italic;
    padding: 0 .5em;
    position: relative;
    font-family: $font-titillium;

    .arrow {
      position: absolute;
      font-size: .4em;
      left: 50%;

      &:after {
        margin-top: .5em;
      }
    }
  }
}

.items {
  flex: 1;
  border-color: $color-primary;
  border-style: solid;
  border-width: 0 0 0 2px;
  padding: 0 1em;
}

.item {
  padding: .75em 0;
  display: flex;

  .date {
    display: inline-block;
    padding: 0 1em;
    color: $color-secondary;
    font-family: $font-titillium;
  }
}
