@import '../../styles/partials/variables/base';
@import '../../styles/partials/base';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.status {
  align-self: stretch;
  display: flex;
}

.col {
  padding: 1em;
  flex: 1;

  h4 {
    font-weight: normal;
    font-size: 1em;
    color: $color-secondary;
    margin-bottom: 1em;
  }
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    width: 80%;
    text-align: right;
  }

}

.statistics {
  .info {
    margin-bottom: 2em;
  }
  .number {
    display: flex;
    align-items: flex-end;

    span {
      font-size: 2.5em;
      color: $title-color-lighter;
      transform: skew(-5deg);
      display: inline-block;
      margin-right: .5em;
      line-height: 1.1em;
    }
  }
}

.button {
  flex: none;
  position: relative;
}

.token-symbol {
  border-radius: 100em;
  border: $color-secondary 1px solid;
  margin: 0 2vw;
  position: relative;
  transition: .24s ease-out;
  backface-visibility: hidden;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 160%;
    width: 160%;
    margin: -30%;
    z-index: -1;
    border: mix($background-color, $color-secondary, 80) .2em solid;
    border-radius: 100em;
    transform: scale(.8);
    opacity: 0;
    transition: .24s ease-out;
  }

  &:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    border-radius: 100em;
    transition: opacity 1s ease-out;
    animation: symbol-ray-rotate 3s linear infinite;
    opacity: .1;

    @include css-gradient(
      0,
      mix($background-color, $color-primary, 10),
      mix($background-color, $color-primary, 90) 30%,
      mix($background-color, $color-primary, 90) 70%,
      mix($background-color, $color-primary, 10)
    );
  }

  .symbol {
    padding: 10vw;
    margin: 2em;
    position: relative;
    border-radius: 100em;
    background-color: mix($background-color, $color-secondary, 99);

    &:after {
      content: '\e900';
      font-family: 'ico';
      line-height: 1em;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 10em;
      opacity: .8;
      justify-content: center;
      transition: .24s ease-out;
    }
  }


  .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    color: lighten($color-secondary, 5);
    font-family: $font-titillium;
    font-weight: 600;
    opacity: 0;
  }

  &:hover {
    background-color: mix($background-color, $color-primary, 70);

    &:after {
      opacity: .4;
    }

    &:before {
      transform: scale(1);
      opacity: .5;
    }

    .symbol:after{
      opacity: .1;
      color: $color-secondary;
    }

    .text {
      opacity: 1;
    }
  }
}

// .arrow-anim {
//   display: flex;
//   justify-content: center;
//   align-self: center;
//   animation: arrow-rotate 1s infinite ease-out;
//   margin-bottom: 1.5em;

//   &:before {
//     content: '\e902';
//     font-family: $font-ico;
//     display: inline-block;
//     color: $color-secondary;
//     font-size: 15em;
//     line-height: .5em;
//   }
// }

// @keyframes arrow-rotate {
//   0% {
//     transform: translateY(-1em);
//     opacity: .1;
//   }
// }

// @keyframes symbol-ray-rotate {
//   100% {
//     transform: rotate(360deg);
//   }
// }
