@import '../../styles/partials/variables/colors';

.timer {
  display: flex;
  align-self: stretch;
  margin-left: 2vw;
  margin-right: -1em;
}

.time {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .5em;

  .digits {
    display: flex;
    font-size: 3em;
    transform: skew(-10deg);
    color: $title-color-lighter;

    .digit {
      &.update {
        animation: digit-anim .1s ease-out;
      }
    }
  }

  .label {
    font-size: .8em;
  }
}

@keyframes digit-anim {
  0% {
    transform: scaleX(1.5) scaleY(2);
    opacity: 0;
    color: white;
  }
}
