@import '../../styles/partials/variables/colors';

.lang-select {
  position: relative;
  align-items: center;
  align-self: center;
  padding: 1em 1.5em;
  font-size: .875em;
  cursor: pointer;
  transition: color .24s ease-out;

  &:hover {
    color: $text-color;

    &:after {
      opacity: 0;
      transition: .24s ease-out;
    }

    .menu {
      display: flex;
    }
  }

  &:after {
    content: '';
    border-width: 1em 1em 0 1em;
    border-style: solid;
    border-color: $color-secondary transparent transparent transparent;
    position: absolute;
    top: 100%;
    margin-left: -1em;
    left: 50%;
    font-size: .4em;
    opacity: .5;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  flex-direction: column;
  margin-right: -2.5vw;
  padding: 1em 0;
}

.item {
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  padding: .5em calc(2.5vw + 1.5em);
  cursor: pointer;
  color: $text-color;

  &:hover {
    background-color: rgba($text-color, .2);
    color: white;
  }
}
