@import '../../styles/partials/variables/base';

.landing {
  padding: 3em 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 5em;
  display: flex;
  text-align: center;
  margin: .25em 0;
}

.actions {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1em;
}

.button {
  padding: 1em 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .25em;
  transition: .24s ease-out;
  cursor: pointer;
  backface-visibility: hidden;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    display: inline-block;
    font-size: 1rem;
    padding: .25em;
    border-color: white;
    border-style: solid;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    margin-left: .5em;
  }

  &.primary {
    text-transform: uppercase;
    color: white;
    font-size: 1.1em;
    padding: 1em 8vw;
    background-color: mix($background-color, $color-primary, 30);
    font-weight: 600;

    &:after {
      content: none;
    }
  }

  &:hover {
    transform: scale(.96);

    &.primary {
      background-color: $color-primary;
    }
  }
}
