/*
 * Base styles
 */

html,
body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: $font;
  letter-spacing: .05em;
  line-height: 1.5;
  background-color: $site-background-color;
  color: $text-color;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  @include responsive-font(1.1vw, 16px, 19px, 16px);
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dd, dt {
  padding: 0;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;

  &:hover, &:focus {}

  &:active {}

  &:link {
    -webkit-tap-highlight-color: $tap-highlight-color;
  }
}

h1 {
  font-family: $font-titillium;
  font-size: 4em;
  font-weight: 400;
  color: $title-color;
  margin: 0;
  line-height: 1.2em;
  text-shadow: 0 .1em .5em rgba(darken($background-color, 10), .3);
}

h2 {
  font-family: $font-titillium;
  font-size: 3em;
  font-weight: 400;
  color: mix($color-secondary, $background-color, 70);
  margin: 1em 0;
  line-height: 1.2em;
}

h3 {
  font-family: $font-titillium;
  font-size: 2.5em;
  font-weight: 300;
  color: $text-color-lighter;
  line-height: 1.2em;
  margin: 0;
}

h4 {
  font-size: 1.4em;
  font-weight: 600;
  color: $text-color-lighter;
  line-height: 1.3em;
  margin: .25em 0;
}

input {
  border: none;
  outline: none;
}
