.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
  z-index: 999;
}

.logo {
  height: 2em;
  margin: 2em 1.5vw;
}

.nav {
  display: flex;
}

.nav-item {
  padding: 1em;
  color: white;
  align-self: stretch;
  display: flex;
  align-items: center;
  font-size: .875em;
  text-transform: uppercase;
  cursor: pointer;
  transition: .24s ease-out;

  &:hover {
    transform: scale(.96);
  }
}

