@import '../../styles/partials/variables/base';

.footer {
  display: flex;
  padding: 3em 10vw;
  padding-bottom: 5em;
}

.copyright {
  flex: 1;

  p {
    font-size: .8em;
    margin: 0;
    padding-left: 1vw;


    br {
      line-height: 2em;
    }
  }
}

.logo {
  font-size: 2em;

  &:before {
    font-family: $font-ico;
    content: '\e901';
    display: inline-block;
  }
}

.sitemap {
  display: flex;
  flex: 2;
  font-size: .875em;
}

.item-group {
  flex: 1;

  &.social {
    flex: 1;
    margin-right: 0;
  }
}

.item-title {
  text-transform: uppercase;
  font-size: 1em;
  padding: .5em;
}

.item {
  display: block;
  padding: .5em;

  &.social {
    font-family: $font-ico;
    display: inline-block;
    position: relative;

    .label {
      position: absolute;
      left: 0;
      display: inline-block;
      top: 100%;
      width: 100%;
      font-size: .8em;
      padding-left: 1.5em;
    }

    &:first-child {
      margin-left: -.5em;
    }
  }
}

.icon {
  font-size: 2em;
  line-height: 1em;
  display: inline-block;
  padding: .25em .5em;
}

