@import '../../styles/partials/variables/base';

.application {
  display: flex;
  flex-wrap: wrap;
}

.item {
  max-width: 50%;
  margin-bottom: 4em;
  padding-left: 5vw;
  position: relative;

  h3 {
    font-size: 2em;
  }

  p {
    padding-right: 5vw;
  }

  &:before {
    content: '';
    position: absolute;
    background-image: url(//i.imgur.com/HnklHYi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5em;
    z-index: -1;
    right: 10%;
    top: -2.5em;
    opacity: .2;
  }


  &:first-child {
    max-width: 100%;

    h3 {
      font-size: 2.5em;
    }

    p {
      width: 70%;
    }
  }
}
