@mixin font-face($style-name, $file, $family, $weight: normal, $category: "") {
  $filepath: "../fonts/" + $family + "/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
         url($filepath + ".woff") format('font-woff'),
         url($filepath + ".ttf") format('truetype'),
         url($filepath + ".svg#" + $style-name + "") format('svg');
    font-weight: $weight;
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}
