@import '../../styles/partials/variables/base';

.wrapper {
  width: 80vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.info {
  flex: 1;
  padding: .5em 3vw;

  p {
    padding-right: 1.5em;
    margin: 0;
    margin-top: 1em;
  }
}

.item {
  display: flex;
  align-items: flex-start;
  margin: 1.5em 0;

  &:first-child {
    flex-direction: row-reverse;
    padding-right: 5vw;
    padding-left: 3vw;

    .chart {
      font-size: 1.5em;
    }

    & ~ .item {
      max-width: 50%;
    }
  }
}

.chart {
  background-color: $background-color-lighter;
  border-radius: 100em;
  position: relative;
  overflow: hidden;
  padding: 2em;
}

.pie {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: $color-secondary;
  opacity: .5;
  transform-origin: left bottom;
  z-index: 0;
}

.label {
  background-color: $background-color;
  border-radius: 100em;
  z-index: 1;
  height: 3em;
  width: 3em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: $font-titillium;
  color: white;

  span {
    transform: skew(-10deg);
    margin-right: -.25em;
  }
}
