.team {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-wrap: wrap;
  margin-top: 3vw;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;
  flex: 1;

  .thumb {
    padding: 4em;
    background-position: center;
    background-size: cover;
    border-radius: 100em;
  }

  .name {
    font-weight: normal;
    text-transform: capitalize;
  }
}
